.App {
  min-height: calc(100vh - 20px);
  padding: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 100%;
  min-height: calc(100vh - 20px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.App-link {
  color: #61dafb;
}