* {
  max-width: 100%;
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

nav {
  width: 100vw;
  position: fixed;
  top: 0;
  padding-bottom: 20px;
}

nav .nav-content {
  padding: 10px 0 10px 0;
  background-color: #282c34;
}

nav .transparent-edge {
  height: 20px;
  background: linear-gradient(rgba(40, 44, 52, 1), rgba(0, 0, 0, 0));
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

ul li {
  flex: 1 1 0%;
}

a {
  transition: opacity .3s ease;
  opacity: 1;
  color: #61dafb;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  opacity: .5;
}

p {
  font-size: 18px;
}

.flex {
  display: flex;
}

.flex__center {
  justify-content: space-around;
}

.clickable:hover {
  cursor: pointer;
}

.spinner-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner{
  width: 40px;
}

.logo {
  width: 400px;
  max-width: 100%;
  margin-top: 40px;
}

.logo-wrapper {
  transition: color .3s ease;
}

.logo-wrapper:hover, .logo-wrapper:active, .logo-wrapper:focus {
  opacity: 1;
}

.logo-wrapper:hover svg g, .logo-wrapper:active svg g, .logo-wrapper:focus svg g {
  fill: pink;
}

.content {
  max-width: 920px;
  margin: 0 auto;
}

.content > *:last-child {
  margin-bottom: 200px;
}